<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/style.css">
	<script type="module" src="/scripts/script.js"></script>
	<title>Warframe</title>
</head>
<body>
	<header class="header">
		<h1>Home page</h1>
		<nav>
			<a href="/warframes">Warframe</a>
			<a href="/orbiter">Orbiters</a>
			<a href="/">Home</a>
		</nav>
	</header>
	<main class="main">
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore nihil rem fugit doloribus eum laudantium, distinctio odio repudiandae ipsa, eligendi maxime non expedita assumenda. Ratione laudantium tempora dolorem ducimus nulla.</p>
		<img src="/images/nav-logo.png" alt="Navigation logo" class="image" width="100%">
	</main>
	<footer class="footer"> &copy;Sally Resch </footer>
</body>
</html>