<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="css/style.css">
	<title>Orbiter</title>
</head>
<body>
	<header class="header">
		<h1>Orbiter</h1>
		<nav>
			<a href="/warframes">Warframe</a>
			<a href="/orbiter">Orbiters</a>
			<a href="/">Home</a>
		</nav>
	</header>
	<main class="main">
		<div>
			<a href="/orbiter/sally">Sally Orbiter</a>
			<a href="/orbiter/beary">Beary Orbiter</a>
			<a href="/orbiter/tor">Tor Orbiter</a>
		</div>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore nihil rem fugit doloribus eum laudantium, distinctio odio repudiandae ipsa, eligendi maxime non expedita assumenda. Ratione laudantium tempora dolorem ducimus nulla.</p>
	</main>
	<footer class="footer"> &copy;Sally Resch </footer>
</body>
</html>